:root{
    --primary-1:hsl(180, 66%, 49%);
    --primary-2: hsl(257, 27%, 26%);
    --secondary-1: hsl(0, 87%, 67%);
    --neutral-1:hsl(0, 0%, 75%);
    --neutral-2: hsl(257, 7%, 63%);
    --neutral-3: hsl(255, 11%, 22%);
    --neutral-4: hsl(260, 8%, 14%);
    --font-size:18px;
}